.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 74px;
    width: 1526;
    padding: 0px 32px;
}

button{
background-color: black;
color: white;
border: black;
font-weight: 550;
}